.box{
    background-color: #424e80;
    border-radius: 8px;
}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.home{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: space-between;
}
.boxes{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}