.box{
    background-color: #424e80;
    border-radius: 8px;
}
.horizontal{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* @media (max-width: 1280px) {
    .horizontal {
        flex-direction: column;
    }
    .contentLive{
        top:0;

    }
  } */

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.home{
    height: calc( 100vh - 48px );
    width: 100%;
    padding-top: 48px;
    display:flex;
    justify-content: space-around;
    align-items: space-between;
}
.boxes{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.mainDivLeft{
    width:640px;
    height:80%;
}
.mainDivRightTop{
    width:600px;
    height: 40vh;
    margin-top: 16px;
    margin-bottom: 48px;
}
.mainDivRightBottom{
    width:620px;
    height:40vh;
}
.title{
    font-size:2vw;
    font-weight:bold;
    color:white;
    text-align:center;
}
.more{
    font-size:1.2vw;
    font-weight:bold;
    color:white;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right: 12px;
    bottom:0;
}
.link{
    text-decoration:none;
    color:rgb(139, 139, 139);
}
.link:hover{
    text-decoration:underline;
    color:#EEE;
    transition-duration: .25s;
}
.chevron{
    color:rgb(139, 139, 139);
    padding-left:8px;
}
.circle{
    color:red;
    padding-right:4px;
    width: 24px;
    height: 24px;
    justify-self: center;
    align-self: center;
}
.circle:hover{
    color:white;
    transition-duration: .25s;
}
.contentUpcomming{
    width:100%;
    height:40px;
    color: #EEE;
}

