.mainDivLeft{
    width:640px;
    height:80%;
}
.mainDivRightTop{
    width:600px;
    height: 40vh;
    margin-top: 16px;
    margin-bottom: 48px;
}
.mainDivRightBottom{
    width:600px;
    height:40vh;
}
.title{
    font-size:2vw;
    font-weight:bold;
    color:white;
    text-align:center;
}
.more{
    font-size:1.2vw;
    font-weight:bold;
    color:white;
    display:flex;
    justify-content:end;
    align-items:center;
    padding-right: 12px;
}
.link{
    text-decoration:none;
    color:rgb(139, 139, 139);
}
.link:hover{
    text-decoration:underline;
    color:#EEE;
    transition-duration: .25s;
}
.chevron{
    color:rgb(139, 139, 139);
    padding-left:8px;
}
.circle{
    color:red;
    padding-right:4px;
    width: 24px;
    height: 24px;
    justify-self: center;
    align-self: center;
}